<!DOCTYPE html>
<html>
<head>
  <title>Glass Demo - Home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <script type="text/javascript" src="javascripts/app.js"></script>
</head>
<body>
  <h1>Welcome to {{title}}</h1>
  {{#if access_token}}
    <h3><a href="/send1">Send something to Glass - send1</a></h3>
    <h3><a href="/send2">Send something to Glass - send2</a></h3>
  {{else}}
    <a href="/auth">OAuth with Google</a>
  {{/if}}
</body>
</html>