<!DOCTYPE html>
<html>
<head>
  <title>Glass Demo - Send1</title>
  <script src="http://code.angularjs.org/1.0.7/angular.min.js"></script>
  <script src="http://code.angularjs.org/1.0.7/angular-resource.min.js"></script>
  <script type="text/javascript" src="javascripts/app.js"></script>
</head>
<body>
  <h1>Welcome to {{title}}</h1>
  <fieldset ng-app="myapp">
    <p ng-controller="SendCtrl">
      <input name="text" id="text" placeholder="Enter text here..." ng-model="message"/>
      <input type="button" id="send" value="Send to Glass" ng-click="sendToGlass()"/>
      <span ng-show="sent" style="background-color:green;">Message Sent Successfully</span>
    </p>
  </fieldset>
</body>
</html>